.DS_Store
*.o
*.lo
*.la
*.mk
*.pc
.deps
.libs
.deps
libtool
gen-*
compiler/cpp/thrift
compiler/cpp/version.h
Makefile
config.log
config.status
lib/java/libthrift.jar
stamp-h1
*.dSYM
*.bundle
lib/cpp/concurrency_test
lib/cpp/test/Benchmark
lib/java/build/
lib/perl/blib/
lib/perl/pm_to_blib
lib/php/src/ext/thrift_protocol/modules
lib/py/build
lib/rb/.config
lib/rb/ext/mkmf.log
